<h4>Color</h4>
<div class="field">
  <% @colors.each do |color| %>
    <div>
      <%= radio_button_tag 'color_id', color.id, color.id == @character.color_id %>
      <input type="color" id="head" name="head" value='#<%= color.color %>' disabled>
      <label> <%= color.name %> </label>
    </div>
  <% end %>
</div>
