<section class="h-100 mt-5">
  <div class="container h-100">
		<div class="row justify-content-md-center h-100">
			<div class="card-wrapper">
				<div class="card fat">
					<div class="card-body">
						<h3 class="card-title">Crear Nuevo Personaje</h3>
						<%= form_for @character do |f| %>
              <%= render "#{@character.current_step}_step", :f => f %>
              <p><%= f.submit "Continuar" %></p>
              <p><%= f.submit "Volver", :name => "previous_button" unless @character.first_step? %></p>
            <% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



