@import "bootstrap";

.containerOwnApp {
  box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
  padding-top: 15px;
}

.login-page {
 padding: 18% 0 0;
 margin: 0 auto 100px;
 max-width: 360px;
 position: relative;
}

.login-form {
  box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
}

.login-form-header {
  padding-top: 16px;
}

.login-from-row {
  padding-top: 16px;
  padding-bottom: 16px;
}

.login-form-font-header {
  font-size:30px; 
  font-weight: bold;
}

.login-form-font-header span {
  color: #007C9B;
}

.header {
  overflow: hidden;
  background-color: #000000;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(206, 82, 82);
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right !important;
}

@media screen and (max-width: 500px) {
  .card-wrapper {
    margin-left: 13%;
    width: 74%;
  }
  .header a {
    float: none;
    display: inline;
    text-align: center;
    width: 40%;
    padding: 6px;
  }
  .header-right {
    float: none;
  }
}
